<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">


<head th:replace="globalBlock/basicInformation :: head"/>

<body>
<div th:replace="globalBlock/basicInformation :: Start"/>

<!--  Черная полоса, с именем и ролями, в конце выход  -->
<div th:replace="fragments/informationBoard :: board"/>

<!-- Левая навигация между админом и юзером -->
<div th:replace="fragments/navigationUserAdmin :: navigationUserAdmin"/>


<div th:replace="fragments/user-form"/>

<div th:replace="globalBlock/basicInformation :: finalAdmin"/>
<div th:replace="globalBlock/basicInformation :: final"/>
</body>
</html>