<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>New user</title>
</head>

<body>

<div th:align="center">
    <h2>New User</h2>
    <form action="#" th:method="POST" th:action="@{/admin/create}" th:object="${user}">

        <table th:border="0" th:cellpadding="5">
            <tr>
                <td><label for="name"> Enter name</label></td>
                <td><input type="text" th:field="*{username}" id="name"/></td>
                <div style="color: darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
            </tr>

            <tr>
                <td><label for="age"><b>Age</b></label></td>
                <td><input type="number" th:field="*{age}" id="age"/></td>
                <div style="color: darkred" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
            </tr>

            <tr>
                <td><label for="email"><b>E-mail</b></label></td>
                <td><input type="text" th:field="*{email}" id="email"/></td>
                <div style="color: darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
            </tr>

            <tr>
                <td><label for="password"><b>Введите пароль</b></label></td>
                <td><input type="text" th:field="*{password}" id="password"/></td>
                <div style="color: darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
            </tr>

            <tr>
                <td><label for="passwordConf"><b>Confirm your password</b></label></td>
                <td><input type="text" th:field="*{passwordConfirm}" id="passwordConf"/></td>
                <div style="color: darkred" th:if="${#fields.hasErrors('passwordConfirm')}"
                     th:errors="*{passwordConfirm}">Name error</div>
            </tr>

            <tr>
                <td>
                    <button type="submit" class="registerbtn">Register</button>
                </td>

            </tr>
        </table>
    </form>
</div>

</body>
</html>