<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<div th:align="center">

    <h1>Hello_Kata!</h1>
    <h2>Welcome to Index PAGE!</h2>
    <table th:border="2" th:cellpadding="20">

        <tr>
            <td><a style="color: darkorchid" th:href="@{/auth/login}">Login</a></td>
            <td><a style="color: green" th:href="@{/auth/registration}">Register</a></td>
            <td><a style="color: darkblue" th:href="@{/}">Go back to the main page</a></td>
        </tr>
    </table>

</div>

</body>
</html>