<!DOCTYPE html>
<html lang="en">

<head th:fragment="head">
    <meta http-equiv='Content-Type' content='application/x-www-form-urlencoded; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Admin panel</title>
</head>

<body>
<th:block th:fragment="finalAdmin">
<!--    <script type="text/javascript" src="./Old/createNewUser.js"></script>-->
<!--    <script type="text/javascript" src="./Old/deleteUser.js"></script>-->
<!--    <script type="text/javascript" src="./Old/panelAdmin.js"></script>-->
<!--    <script type="text/javascript" src="./Old/updateUser.js"></script>-->
    <script type="text/javascript" src="./controlAdmin.js"></script>
</th:block>

<th:block th:fragment="final">
    <script type="text/javascript" src="./panelUser.js"></script>
    <script type="text/javascript" src="./blockBoard.js"></script>

<!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootsStrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--            crossorigin="anonymous"></script>-->
</th:block>
</body>
</html>